* {
  --primary: #f6f8ee;
  background-image: url(../assets/images/baggrund.png);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: "Kanit", sans-serif;
  font-size: 64px;
  font-weight: bold;
  color: var(--primary);
}

h3 {
  font-family: "Kanit", sans-serif;
  font-size: 40px;
  font-weight: 500;
  color: var(--primary);
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: var(--primary);
}

img {
  height: 100vh;
}
