---

---

<section>
<h2>Analog fotografering</h2>
<p>Fotografering med gode, gammeldags filmruller. Analog fotografering stiger for tiden i popularitet, specielt blandt unge, og prisen på filmruller og vintage-kameraer skyder i vejret. Mange fotografer synes at film-fotografering er mere ægte har mere “sjæl.” Analog fotografering er langsommmere, hvert enkelt billede koster penge, og man bliver nødt til at overveje motiv og lys grundigere før der skydes - tænk før du trykker. 
Analog fotografering kan gå galt mange steder i processen, og det giver også mulighed for at eksperimentere med “det uperfekte og uforudsigelige i processen.” Man kan f.eks. skyde på for gamle filmruller, arbejde med forskellige teknikker som “lens whacking” og filtre/ting foran objektivet, og man kan pille ved de kemiske processer under fremkaldelse af filmen.
[Reference: https://www.dr.dk/nyheder/kultur/analoge-billeder-hitter-paa-sociale-medier ]</p>
</section>

<section class="glitch_box">
    <img src="src/assets/images/glitch.webp" alt="baad">
    <div class="glitch_tekst">
    <h3 class="glitch_h3">Glitsch art</h3>
    <p>Når der sker en teknisk fejl i et medie/en kommunikationskanal kaldes det en glitch. Glitch art går ud på at dyrke fejlene for at skabe kunst. En meget typisk glitch er små analoge eller digitale fejl i farvegengivelsen af billeder.</p>
    </div>
</section>

<section>
    <h2>Lomografi</h2>
    <p>Et lomografi er egentlig bare et fotografi skudt uden videre omtanke, og med noget foto-udstyr af ret alternativ kvalitet. Lomografier skydes ofte på gode, gammeldags filmruller, men kan også skyde digitalt.
Det kan måske lyde lidt anti-fotograf-agtigt. Men en del foto-entusiaster dyrker den slags, og ser det som en foto-genre eller endda en livsstil.</p>
</section>

<section>
    <img src="src/assets/images/lomografi.webp" alt="lady">
    <h3>Lomo-regler</h3>
    <p>Der er et stort community af lomografer på Lomography.com, og hardcore lomografer har 10 regler, de lever efter (se lomography.com/about/the-ten-golden-rules for yderligere info):</p>
    <ol class="slide_tekst">
        <li>Tag kameraet med overalt</li>
        <li>Brug det på alle tidspunkter – dag og nat</li>
        <li>Lomografi er ikke en forstyrrelse af dit liv, men en del af det</li>
        <li>Prøv hofteskuddet!</li>
        <li>Gå tæt på de objekter du har et ønske om at lomografere</li>
        <li>Tænk ikke (William Firebrace)</li>
        <li>Vær hurtig</li>
        <li>Du behøver ikke at vide hvad du fanger på film på forhånd</li>
        <li>Heller ikke efter</li>
        <li>Du skal ikke bekymre dig om nogen regler </li>     
    </ol>
</section>


<style>
    .slide_tekst {
        
    }

.glitch_box{
  position: relative;
  text-align: left;
    }
.glitch_tekst {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.glitch_h3 {
    text-align: left;
}

li {
      margin: 20px auto;
}
</style>