---
const {citat}= Astro.props;
---

<section>
    <div class="tegn1">"</div><p class="citat">{citat}</p><div class="tegn2">"</div>
</section>

<style>
.tegn1, .tegn2 {
    font-weight: var(--font-weight-7);
    font-size: var(--font-size-7);
    font-family: "Kanit", sans-serif;
}

.citat {
    font-size: var(--font-size-5);
    font-family: "Kanit", sans-serif;
}
</style>