---
const {citat}= Astro.props;
---

<section>
    <p class="citat">{citat}</p>
</section>

<style>


.citat {
    font-size: var(--font-size-5);
    font-family: "Kanit", sans-serif;
    max-width: 650px;
    margin: auto;
    line-height: var(--font-lineheight-2);
}

</style>