---
import Citater from "../components/Citater.astro";

---
<section>
    <h1 class="overskrift1">En ny begyndelse</h1>
    <p>Men Pierre er glad for sin beslutning. Indkomsten er lavere nu, men han har stadig lidt penge på kontoen, og studerer nu kunstfotografering på fotoskolen Fatamorgana. Han glæder sig over hver dags kunstneriske eksperimenter, og er for første gang i sit liv rigtig stolt af sit arbejde. Som Pierre selv udtrykker det:</p>
       <div class="citat1"><Citater citat=" Det interessante ligger i fejlen. Et foto med masser af fejl er interessant. Jeg eksperimenterer med udstyr og teknik, og skaber nye visuelle udtryk. Det uperfekte er perfekt."></div>
</section>

<section>
    <img class="billede" src="/assets/images/nybegyndelse.webp" alt="">
    <p class="karrieren">Karrieren begynder også så småt også at gå den rette vej: Pierre er begyndt at sælge fotokunst på nettet, og har udgivet sin første foto-bog med titlen “Lidt i fem,” som er en fotografisk odyssé om at slæbe en brandert hjem i de tidlige morgentimer. I forbindelse med udgivelsen af bogen, har han en udstilling på vej i det Kongelige Biblioteks fotoudstilling. Som Pierre forklarer det:</p>
</section>

<section class="container_nybegyndelse">
    <img class="billede2" src="/assets/images/nybegyndelse2.webp" alt="">
    <div class="text">
    <div class="textanimation"><Citater citat=" Nu kan jeg leve livet igen. Jeg føler mig frisk. Jeg føler mig fri. Jeg føler mig genfødt."></div>
    </div>
</section>

<style>
.billede{
    aspect-ratio: var(--ratio-ultrawide); 
}

.karrieren {
          margin-top: var(--size-12);
        margin-bottom: var(--size-12);
}

  .container_nybegyndelse{
 position: relative;
  text-align: center;
  
    }
.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.textanimation{
  animation: var(--animation-pulse)

}

.citat1 {
    display: flex;
    text-align: center;
    max-width: 720px;
    margin: auto;
    padding-bottom: var(--size-10);
    place-content: center;
}

.billede2{
    aspect-ratio: var(--ratio-ultrawide);  
    opacity: 50%; 
}

</style>
  
<script>
import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  gsap.matchMedia().add("(prefers-reduced-motion: no-preference)", () => {

    gsap.from(".overskrift1", {
scrollTrigger: {
        trigger: ".overskrift1",
        start: "start 80%",
        end: "bottom top",
        scrub: true,
},
    opacity:0,
        duration: 2,
        });

            gsap.to(".overskrift1", {
scrollTrigger: {
        trigger: ".overskrift1",
        start: "start top",
        end: "start top",
        scrub: true,
},
    opacity:100,
        duration: 2,
        });
    /* gsap.from(".overskrift1", {
      //x: 500,
      //scale: 2,
      opacity: 0,
      duration: 5,
      //ease: "elastic.out(1, 0.3)",
      rotation: 360,
      ease: "",
      scrollTrigger: {
        trigger: ".overskrift1",
        start: "start 80%",
        end: "bottom 20%",
        toggleActions: "play pause none reverse",
        //markers: true,
      },
    });

  gsap.from(".citat1", {
      yPercent: 50,
      opacity: 3,
      duration: 1,
      stagger: 0.5,
      scrollTrigger: {
        trigger: ".citat1",
        start: "start 90%",
        end: "bottom 10%",
        scrub: true,
        //markers: true,//
      },
    }); 

    gsap.to(".img", {
scrollTrigger: {
        trigger: ".citat1",
        start: "start center",
        end: "bottom center",
        scrub: true,
        //markers: true,//
},
        y: -200,
        scale: 1,
        duration: 2,
        });

        */

gsap.to(".citat1", {
scrollTrigger: {
        trigger: ".citat1",
        start: "start top",
        end: "bottom 0%",
        scrub: true,
},
        y: 600,
        duration: 5,
        });

        /*
        gsap.from(".citat1", {
scrollTrigger: {
        trigger: ".citat1",
        start: "start bottom",
        end: "bottom 100%",
        scrub: true,
        markers: true,
},
        y: 600,
        duration: 4, 
        });*/
  });
</script>

