

<section class="faktaboks">
    <h4>
    "Pierre sælger 2 millioner fotos om året. Det svarer til én fotolicens hvert 16. sekund. Du ser hans fotos ca. 2 gange om dagen"</h4>
</section>

<style>
    .faktaboks {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    h4 {
        grid-column: 1;
        grid-row: 2;
    }
</style>