<div class="wrapper">

    <div class="container">

        <section class="billeder">
            <img src="src/assets/images/polaroid.png" alt="">  
        </section>
        <section>
            <img src="src/assets/images/polaroid2.png" alt="">  
        </section>
    </div>
</div>

    


<style>
    .wrapper {
        overflow-x: hidden;
        position: relative;
    }
    .container {
        display: flex;
        gap: var(--size-2);
        width: 100vw;
    }
</style>

<script>
import { gsap } from "gsap/dist/gsap";
import { ScrollTrigger } from "gsap/dist/ScrollTrigger";
        
gsap.registerPlugin(ScrollTrigger);

const sections = gsap.utils.toArray('.container section')

gsap.to(sections, {
      xPercent: -100 * (sections.length - 1),
      ease: "none",
      scrollTrigger: {
        trigger: ".container",
        pin: true,
        scrub: 1, 
        end: "+=3000",
      }
})
</script>
