<section class="billeder">
    <img src="src/assets/images/stock1.webp" alt="">
    <img src="src/assets/images/stock2.webp" alt="">
    <img src="src/assets/images/stock3.webp" alt="">
    <img src="src/assets/images/stock4.webp" alt="">
    <img src="src/assets/images/stock5.webp" alt="">
</section>

<style>
    .billeder {
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        gap: var(--size-3)
    }
    .billeder img {
        aspect-ratio: var(--ratio-box);
        
    }
</style>

<script>
import { gsap } from "gsap/dist/gsap";
import { ScrollTrigger } from "gsap/dist/ScrollTrigger";
        
gsap.registerPlugin(ScrollTrigger);

gsap.from(".billeder", {
    scrollTrigger: {
        trigger: ".billeder",
        start: "top top",
        end: "bottom bottom", // Adjust the end point as needed
        scrub: 1, // Enables smooth scrolling
        markers: true,
    },
});

</script>