<div class="wrapper">

    <div class="container-h">

        <section class="panel">
            <figure>
            <img src="public/assets/images/nystock1.png" alt="">
            </figure>
        </section>
        <section class="panel">
            <figure>
            <img src="public/assets/images/nystock2.png" alt="">
            </figure>
        </section>
        <section class="panel">
            <figure>
            <img src="public/assets/images/nystock3.png" alt="">
            </figure>
        </section>
        <section class="panel">
            <figure>
            <img src="public/assets/images/nystock4.png" alt="">
            </figure>
        </section>
        <section class="panel">
            <figure>
            <img src="public/assets/images/nystock5.png" alt="">
            </figure>
        </section>
    </div>
</div>

    
<style>
    .wrapper {
        overflow-x: hidden;
        position: relative;
    }
    .container-h {
        display: flex;
        margin-left: 20%;
        gap: var(--size-5);
    }

    .panel {
        width: 45vw;
        flex-shrink: 0;
    }
    :global(body) {
        overflow-x: hidden;
    }
    
</style>

<script>
import { gsap } from "gsap";
import { ScrollTrigger } from "gsap/ScrollTrigger";

gsap.registerPlugin(ScrollTrigger);

const sections = gsap.utils.toArray('.panel')

gsap.to(sections, {
      xPercent: -100 * (sections.length - 1),
      ease: "none",
      scrollTrigger: {
        trigger: ".container-h",
        pin: true,
        scrub: true, 
        end: "+=3000",
      }
})
</script>
